<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Description</key>
	<string>Custom View with xib</string>
	<key>Summary</key>
	<string>Custom View with xib</string>
	<key>SortOrder</key>
	<string>30</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>CustomView</string>
	<key>___FILEBASENAME___.swift</key>
	<dict>
		<key>Group</key>
		<array>
			<string>File</string>
		</array>
		<key>Path</key>
		<string>___FILEBASENAME___.swift</string>
	</dict>
	<key>___FILEBASENAME___.xib</key>
	<dict>
		<key>Group</key>
		<array>
			<string>View</string>
		</array>
		<key>Path</key>
		<string>___FILEBASENAME___.xib</string>
	</dict>
</dict>
</plist>
